{% extends "layout.html" %}
{% load static %} 


{% block page_title %}
{{post.title|title}} 
{% endblock %} 


{% block css_files %} 
<link rel="stylesheet" href="{% static "blog/post-detail.css"%}">
{% endblock %} 


{% block page_body %}
<section id="summary">
  <h2>{{post.title|title}}</h2>
  <article>
    <img src="{% static "images/"|add:post.image %}" alt="{{post.title|title}}" />
    <address>By {{post.author}}</address>
    <div>Last Updated on on <time> {{post.date|date:"d M Y"}} </time></div>
  </article>
</section>
<main>
  <h1>{{post.excerpt}}</h1>
  <p>
    {{post.content|linebreaks}}
  </p>
  
</main>
{% endblock page_body %}
